.origin-info-ip {
	display: inline-block;
	max-width: 110px;
	overflow: hidden;
	text-overflow: ellipsis;
	vertical-align: bottom;
	white-space: nowrap;
}

i {
	font-size: 13px;
	margin: 0 1px;
}

ban-icon {
	margin-left: 3px;
}
