@import '../../../../styles/partials/variables';

.chat-box {
	max-width: 500px;
	height: 37px;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
}

.chat-open-button {
	display: block;
	position: absolute;
	left: 0;
	bottom: 0;
	z-index: 2;
	width: 42px;
	height: 40px;
}

.chat-send-button {
	position: absolute;
	right: 0;
	top: 0;
	padding: 0 8px;
}

.chat-input {
	opacity: 0.6;
	background: black;
	color: white;
	border: none;
	z-index: 1;
	padding: 8px;
	font-size: 14px;
	padding-right: 35px;
	padding-left: 90px;
	border-radius: $border-radius-base;
	outline: none;
	width: 100%;
}

.chat-box-type {
	position: absolute;
	left: 42px;
	top: 8px;
	font-size: 14px;
	user-select: none;
	cursor: pointer;

	.chat-party > &, .chat-party-think > & {
		color: $chat-party;
	}

	.chat-say > &, .chat-think > & {
		color: $chat-color;
	}

	.chat-sup > & {
		color: $supporter-1;
	}

	.chat-sup1 > & {
		color: $supporter-1;
	}

	.chat-sup2 > & {
		color: $supporter-2;
	}

	.chat-sup3 > & {
		color: $supporter-3;
	}

	.chat-whisper > & {
		color: $chat-whisper;
	}
}

.chat-box-type-name {
	display: inline-block;
	max-width: 120px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	vertical-align: bottom;
}
