.tools-range.input-group([class.input-group-sm]="small")
	.input-group-prepend
		button.btn.btn-default((click)="decrement()")
			fa-icon([icon]="vertical ? upIcon : leftIcon" [fixedWidth]="true")
	input.form-control([(ngModel)]="value" type="number" step=1 [min]="min" [max]="max" [placeholder]="placeholder")
	.input-group-append
		button.btn.btn-default((click)="increment()")
			fa-icon([icon]="vertical ? downIcon : rightIcon" [fixedWidth]="true")
