.item-connected-account {
	padding: 5px;
	min-height: 40px;

	> a {
		position: relative;
		top: 6px;

		> i { 
			margin-right: 5px;
		}
	}

	&:hover {
		background: rgba(255, 255, 255, 0.05);
	}
}
