a.btn.btn-lg.btn-outline-patreon.btn-block.mb-2(
	*ngIf="patreonLink" (mouseenter)="pony.excite()" (mouseout)="pony.reset()" [href]="patreonLink" target="_blank"
	rel="noopener noreferrer")
	| {{supporter ? 'Thank you for supporting us!' : 'Support us on Patreon!'}}
	svg.patreon-logo(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 150 150")
		circle(fill="#f9685f" cx="75" cy="75" r="75")
		path(fill="#052d49" d="M31.729 27.659h17.578v95.888H31.729z")
		circle(fill="#fff" cy="63.565" cx="95.783" r="35.955")
	.supporter-pony
		supporter-pony(#pony [scale]="2")
