.page-loader {
	padding: 150px 0;
}

fa-icon {
	font-size: 50px;
}

p { 
	margin-top: 30px;
}

.page-updating {
	font-size: 20px;
}

.btn {
	vertical-align: baseline;
	font-weight: bold;
}
