.m-4
	ul.nav.nav-pills
		a.nav-link(routerLink="/variants") Variant explorer
		a.nav-link(routerLink="/animation") Animator
		a.nav-link(routerLink="/sheet") Sheet generator
		a.nav-link(routerLink="/expressions") Expressions
		a.nav-link(routerLink="/entity")  Entity
		a.nav-link(routerLink="/palette") Palette
		a.nav-link(routerLink="/ui") UI
		a.nav-link(routerLink="/chat") Chat
		a.nav-link(routerLink="/webgl") WebGL
		a.nav-link(routerLink="/perf") Perf
		a.nav-link(routerLink="/states") States
		a.nav-link(routerLink="/regions") Regions
		a.nav-link(routerLink="/collisions") Collisions
		a.nav-link(routerLink="/map") Map
