.emote-sample {
	display: inline-block;
	width: 24px;
	text-align: center;
	margin-bottom: 3px;

	&:hover {
		background: rgba(255, 255, 255, 0.2);
		border-radius: 2px;
	}
}

.emotes {
	column-width: 180px;
}

.spaced-list {
	> li {
		padding-bottom: 2px;
	}
}
