.team-members {
	margin-top: 10px;
}

.team-member {
	b {
		white-space: nowrap;
	}
	
	.text-muted {
		font-size: 14px;
	}
}

.team-avatar {
	background: white;
	position: relative;
	margin: 0 15px 20px 0;
	width: 90px;
	height: 90px;
	border-radius: 50%;
	border: solid 4px white;
	transform: scale(0.7);
	margin-right: 5px;
	margin-bottom: 10px;
	margin-top: -10px;

	> img {
		width: 100%;
		height: 100%;
		border-radius: 50%;
	}
}
