.modal-header.d-none.d-sm-block
	h4.modal-title(labelledBy=".modal")
		| Invites

.modal-body
	p
		| Using #[b {{invites.length}}] out of #[b {{inviteLimit}}] invites.
	.list-group
		.list-group-item(*ngFor="let i of invites" [class.text-muted]="!i.active")
			.d-flex.justify-content-between
				.d-flex.align-items-center
					portrait-box([pony]="i.pony" size="small" [noBorder]="true" style="margin: -5px 10px -5px -10px;")
					b {{i.name}}
					span.text-muted.ml-1(*ngIf="!i.active") (inactive)
				button.btn.btn-xs.btn-outline-danger Cancel

	.alert.alert-danger.mt-3.mb-0(*ngIf="error")
		| {{error}}

.modal-footer.justify-content-end
	button.btn.btn-outline-secondary((click)="close.emit()")
		| Close
