character-preview(
	#characterPreview [pony]="pony" [state]="state" [noBackground]="true" [noShadow]="true"
	[noOutline]="true" [scale]="scale" style="width: 180px; height: 180px; position: relative; top: -20px;")
