.mx-auto.text-left.text-large(style="max-width: 400px;")
	h5 General rules
	ul.text-muted.list-rules
		li(*ngFor="let r of rules") {{r}}

	h5 Notice
	p.text-muted
		| This game is very #[strong early in development]. There might be bugs and occasional downtimes.
	p.text-muted
		| Please do not redistribute any of the game files or code.
