@import 'partials/variables';

.account-info {
	display: flex;
	align-items: center;
	white-space: nowrap;
	flex-wrap: wrap;
}

.account-info-name {
	.outdated & {
		opacity: 0.6;
	}

	.table & {
		display: inline-block;
		max-width: 130px;
		overflow: hidden;
		text-overflow: ellipsis;
		vertical-align: bottom;
		white-space: nowrap;
	}
}

.account-info-note-indicator {
	position: absolute;
	left: 0;
	top: 2px;
	color: $body-bg;
	font-weight: bold;
	text-align: center;
	display: inline-block;
	width: 100%;
	font-size: 10px;
	text-shadow: none;
}

.badge-supporter {
	padding-left: 3px;
	padding-right: 3px;

	&.declined {
		border-right: solid 5px $warning;
	}

	> i {
		font-size: 10px;
	}
}

.badge-duplicates {
	@include badge-variant(#bf6060);

	&.none {
		@include badge-variant(#63a367);
	}
}

.icon-button {
	position: relative;

	&:hover {
		filter: drop-shadow(0 0 2px #000);
	}
}

.supporter-buttons .btn {
	min-width: 25px;
}

.counter-item {
	margin-bottom: 5px;

	> .text-muted {
		display: inline-block;
		width: 80px;
	}

	> .counter-value {
		display: inline-block;
		font-weight: bold;
		width: 60px;
		padding-left: 5px;
	}

	> button {
		margin-right: 5px;
		width: 35px;
	}
}

.text-present, .text-muted.text-present {
	color: #fff !important;
}

.ml-ban {
	margin-left: 2px;	
}
