@import '../../../../styles/partials/variables';

.pony-box {
	color: #333;
	position: relative;
	width: 100px;
	height: 100px;
}

.pony-box-tags {
	position: absolute;
	top: -1px;
	left: 50px;
	display: flex;
}

.pony-box-tag {
	background: #777;
	text-transform: uppercase;
	color: white;
	font-size: 11px;
	font-weight: bold;
	line-height: 14px;
	padding: 1px 10px 2px 10px;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	margin-left: 5px;
	white-space: nowrap;

	&:first-child {
		border-top-left-radius: 0;
		padding-left: 40px;
		margin-left: 0;
	}

	&.tag-dev {
		background: $dev;
	}

	&.tag-mod {
		background: $mod;
	}

	&.tag-sup1 {
		background: $supporter-1;
	}

	&.tag-sup2 {
		background: darken($supporter-2, 7%);
		background: linear-gradient(to bottom, #ffcd99, #ffaa3b 10%, #c77305);
		color: #3b2f1a;
	}

	&.tag-sup3 {
		background: darken($supporter-3, 7%);
		background: linear-gradient(to bottom, #fffda4, #ffde3b 10%, #fdbb0b);
		color: #49391c;
	}

	&.tag-friend {
		background: $friends-color;
	}
}

.pony-box-rect {
	background: white;
	position: absolute;
	top: 15px;
	left: 50px;
	width: 250px;
	height: 60px;
	border-top-right-radius: 15px;
	border-bottom-right-radius: 15px;
	padding-left: 58px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}

.pony-box-name {
	font-size: 20px;
	padding-top: 3px;
	padding-right: 5px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.pony-box-buttons {
	padding-top: 2px;
	padding-right: 8px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.pony-box-buttons-box {
	position: absolute;
	top: 65px;
	left: 48px;
	white-space: nowrap;
}

.pony-box-avatar {
	position: absolute;
}

.remove-confirmation {
	background: white;
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	height: 100%;
}
