.form-group(*ngIf="hasTooManyPonies")
	.alert.alert-warning(role="alert")
		| You have more than the allowed number of {{characterLimit}} ponies, the additional ones may get deleted.
		| Remove some of your unused ponies to prevent losing the ones you want to keep.

.form-group(*ngIf="isMarkedForMultiples")
	.alert.alert-warning(role="alert")
		| Your account has been flagged for creating multiple accounts.
		| Creating more accounts may result in a permanent ban.

.form-group(*ngIf="accountAlert")
	.alert.alert-warning(role="alert")
		| {{accountAlert}}

.form-group(*ngIf="leftMessage")
	.alert.alert-warning(role="alert")
		| {{leftMessage}}

.form-group(*ngIf="isAndroidBrowser")
	.alert.alert-warning(role="alert")
		| Your browser is outdated and is not able to correctly run Pony Town.
		| Please install different browser to be able to play the game.

.form-group(*ngIf="model.missingBirthdate && !birthdateSet && requestBirthdate")
	.alert.alert-warning.text-left(role="alert")
		label(for="birthdate")
			| Set your date of birth
		date-picker([(date)]="birthdate")
		.mt-2.text-right
			button.btn.btn-default.px-4((click)="saveBirthdate()") Save
		p.mb-0.mt-2
			| Please fill-in your #[b date of birth] in order to not lose access to the game in future updates.

.form-group.dropdown(dropdown)
	.btn-group.d-flex
		button.btn.btn-lg.btn-success.text-ellipsis.flex-grow-1(
			#playButton (click)="joining ? cancel() : play()" [disabled]="!canPlay && !joining")
			div(*ngIf="joining")
				fa-icon.mr-1([icon]="spinnerIcon" [spin]="true")
				| Cancel
			div(*ngIf="!joining && server")
				| #[strong {{label || 'Play'}}] on #[span {{server.name}}]
			.text-faded(*ngIf="!joining && !server")
				| select server to play
		button.btn.btn-lg.btn-success.flex-grow-0.dropdown-toggle(
			dropdownToggle aria-label="select server" [disabled]="joining" style="position: relative")

	.dropdown-menu.w-100(*dropdownMenu style="overflow: hidden")
		button.dropdown-item(*ngFor="let s of servers" (click)="server = s; playButton.focus()")
			div
				.float-right(style="position: relative;")
					.text-unsafe(*ngIf="s.offline") #[span.sr-only server] offline
					.text-muted(*ngIf="!s.offline") online #[span.sr-only players] ({{s.online}})
				.flag.mr-2(*ngFor="let f of s.countryFlags" [ngClass]="'flag-' + f")
				fa-icon.text-muted.mr-2(*ngIf="!hasFlag(s)" [icon]="getIcon(s)" size="lg")
				strong {{s.name}}
			.text-muted.text-wrap {{s.desc}}

.form-group.text-left.text-muted.server-alert(*ngIf="server?.alert === '18+'")
	fa-icon.float-left.p-2([icon]="warningIcon" size="2x")
	| By playing on this server you confirm that you are over 18 years old and you take no issue
	| with seeing adult topics.

.form-group.text-left.text-info.server-alert(*ngIf="server?.alert === 'test'")
	fa-icon.float-left.p-2([icon]="infoIcon" size="2x")
	| Supporter test server: Here you can try experimental and unfinished features that we're working on.
	| Keep in mind everything is subject to change.

.form-group(*ngIf="server?.offline")
	.alert.alert-info(role="alert")
		| Selected server is offline, try again later

.form-group(*ngIf="offline")
	.alert.alert-info(role="alert")
		| Server is offline, try again later

.form-group(*ngIf="protectionError && !offline")
	.alert.alert-info(role="alert")
		| Cloudflare error, #[button.btn.btn-sm.btn-outline-default((click)="reload()") reload] to continue.

.form-group(*ngIf="updateWarning")
	.alert.alert-warning(role="alert")
		| Server will restart shortly for updates and maintenance.
		| Save your character to avoid losing any progress.

.form-group(*ngIf="isBrowserOutdated")
	.alert.alert-warning(role="alert")
		button.close.float-right((click)="dismissOutdatedBrowser()" aria-label="Close" style="font-size: 20px;") &times;
		| Your browser is outdated and is known to have issues running Pony Town.
		| Make sure you have latest version installed.

.form-group(*ngIf="invalidVersion && !offline")
	.alert.alert-danger(role="alert")
		| Your client version is outdated, #[button.btn.btn-sm.btn-outline-default((click)="reload()") reload] to be able to play.

.form-group(*ngIf="isAccessError")
	.alert.alert-danger(role="alert")
		| You're no longer signed-in, #[button.btn.btn-sm.btn-outline-default((click)="reload()") reload] to be able to sign-in again.

.form-group(*ngIf="failedToLoadImages")
	.alert.alert-danger(role="alert")
		| Failed to load game assets, #[button.btn.btn-sm.btn-outline-default((click)="hardReload()") reload] to retry.

.form-group(*ngIf="isWebGLError")
	.alert.alert-danger(role="alert")
		| Failed to create WebGL context. Your graphics card drivers or browser are outdated or graphics
		| acceleration is disabled. Go to #[a.alert-link(href="http://webglreport.com/" tabindex) WebGL Report] to
		| check WebGL support in your browser.

.form-group(*ngIf="isBrowserError")
	.alert.alert-danger(role="alert")
		| Your browser is outdated, make sure you have the latest version installed.

.form-group(*ngIf="isOtherError")
	.alert.alert-danger(role="alert")
		| {{error}}

.form-group.text-left.text-large(*ngIf="server")
	h5 Server rules
	p.text-muted.list-rules
		| {{server.desc}}
